body{
    overflow: hidden;
}

[ng-cloak] {
    display: none !important;
}

.invalid-cls {
    border: 1px dashed #ff0000;
}

#toastMessage {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#toastMessage.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.searchbyNameForm{
    width: 60%;
    float: right;
}

.searchbyNameForm > div{
    float: right;
}

textarea {
    resize: none;
}

.container{
    position: absolute;
    top: 48%;
    left: 30%;
}